@font-face {  
    src: url(fonts/roboto/Roboto-Regular.ttf);
    font-family: roboto; 
}

@font-face {  
    src: url(fonts/roboto/Roboto-Light.ttf);
    font-family: roboto-light; 
}

@font-face {  
    src: url(fonts/roboto/Roboto-LightItalic.ttf);
    font-family: roboto-light-italic; 
}

@font-face {  
    src: url(fonts/roboto/Roboto-LightItalic.ttf);
    font-family: roboto-light-italic; 
}

* {
    font-family: roboto;
}


a {
    text-decoration: none;
    color: #bebebe;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #1f2937;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border: red 0px dashed;
    padding: 20px 0px 150px 0px;
}

.header .container {
    border: orange 0px dashed;
    width: 700px;
    max-width: 83vw;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border-bottom: white 1px solid;
}

.hdrlinks {
    display: flex;
    justify-content: space-evenly;
    margin: 16px;
    gap: 16px;
    font-size: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 16px;
    color: #f9faf8;
    font-weight: bold;
}

.content {
    border: yellow 0px dashed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    margin: 0 auto;
    gap: 30px;
}

.imgtext {
    display: flex;
    height: 180px;
    flex-direction: column;
    border: lime 0px dashed;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: 12px;
}

.imgtext p {
    color: #bebebe;
    margin: 0;
    border: skyblue 0px dashed;
    font-family: 'roboto-light';
    font-size: 14px;
}

.imgtext h1 {
    padding: 0;
    margin: 0;
    border: skyblue 0px dashed;
}

.imgtext button {
    margin-right: auto;
    border: skyblue 0px dashed;
    border-radius: 6px;
    background-color: #3882f6;
    color: white;
    padding: 4px 20px;
}

.hdrimage {
    border: lime 0px dashed;
}

.panpage {
    padding: 16px 0 60px 0;
}

.pantitle {
    text-align: center;
    color: #1f2937;
    padding-bottom: 24px;
}

.panpage .container {
    display: flex;
    justify-content: center;
}

.panel {
    max-width: 130px;
}

.panel .text {
    color: #646464;
    font-size: 12px;
}

.quotepage {
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quotepage .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    color: #1f2937;
}

.quote {
    font-family: 'roboto-light-italic';
    font-size: 24px;
}

.credit {
    font-weight: bold;
    color: #1f2937;
    margin-left: auto;
    font-size: 16px;
}

.callpage {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.callpage .container {
    display: flex;
    background-color: #3882f6;
    padding: 30px;
    border-radius: 6px;
    gap: 40px;
    align-items: flex-end;
}

.callpage .container .text .title{
    color: white;
}

.callpage .container .text .info{
    color: white;
    font-family: 'roboto-light';
    font-size: 12px;
    font-weight: 300;
}

.callpage .btn {
    border-radius: 5px;
    border-color: white;
    color: white;
    background-color: transparent;
    width: 80px;
    height: 25px;
    border-style: solid;
    border-width: 1.5px;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: white;
    font-size: 13px;
    padding-top: 24px;
    padding-bottom: 30px;
}